nav{
    background-color: #121619;
    .navbar-brand{
        img{
            height: $altura-logo ;
        }
    }
}

footer{
    background-color: #121619 ;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -20px;
    
}