section{
    padding-top: 50px;
    font-family: $roboto;
    font-weight: medium;
}

.section_paginador {
    background-color: none;
    text-align: center;
}

.section-descripcion{
   
    
    .section-descripcion__fecha{
        
        font-family: $playfair;
        font-size: large;
    }
}